<footer class="bg-dark text-center text-white"  >
  
  <!-- Grid container -->
  <div class="container pt-4" >
   
    <div class="footer_2">
    <!-- Section: Social media -->
    <section class="mb-4" >
      
     
      <!-- Facebook -->
      <a 
      style="margin-right: 4em;"
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg"
        style="color: #76797a;"
        href="https://www.facebook.com/rgv.massage.studio"
        role="button"
        ><i  class="fab fa-facebook-f fa-2x"></i
      ></a>

    
     
      <!-- Instagram -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg"
        style="color: #76797a;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram fa-2x"></i
      ></a>

     
     
    </section>
    <!-- Section: Social media -->
    </div>
    
  </div>
  
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center  p-3" style="background-color: rgba(0, 0, 0, 0.2);" >
    CONTACT US
    <i style="margin-right: 1em;" class="fas fa-phone-square fa-md" aria-hidden ="true">
      <a  style = "color:#d0d5d6;"  href="tel:9567762271">(956)776-2271</a>
     </i>
     <i class="fas fa-envelope fa-md">
      <a style = "color: #d0d5d6;" href="mailto:info@massage.com">info@massage.com</a>
    </i>
  </div>
  <!-- Copyright -->

 
</footer>