<footer class="bg-dark text-center text-white"  >
  <!-- Grid container -->
  <div class="container pt-4" >
    <!-- Section: Social media -->
    <section class="mb-4" >
       <!-- Github -->
      
      <!-- Facebook -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg"
        style="color: #76797a;"
        href="https://www.facebook.com/rgv.massage.studio"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

     

      
      <!-- Instagram -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg"
        style="color: #76797a;"
        href="https://www.instagram.com"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      
     
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center  p-3
  " style="background-color: rgba(0, 0, 0, 0.2);">
 



    <a >    2405 N 10th St #C
      McAllen, TX 78501 </a>
      <a>Phone: (956) xxx-xxxx</a>
      <a>Email: test@email.com</a>
  </div>
  <!-- Copyright -->
</footer>