<body>
   <nav> <app-navbar></app-navbar></nav>
    <br>
    <div class="main">
<h1  class="text-center  p-3">Services</h1>

<div class="center">
  <h5 class="text-center  p-3">Massage Therapy</h5>
<p >At RGV Massage Studio, we beleive ever person has different needs. Massages are given by the amount of time reserved, and can include any one or more techniques. 
  Let us tailor your massage experience to you and your body.
</p>
<br>

<mdb-carousel  [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src="assets/image/massage_sweedish.png"
      
      class="d-block w-100"
     
      
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Sweedish Massage</h5>
      <p>Enjoy a relaxign, easy paced massage, desinged to leave you refreshed.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
    src="assets/image/Deeptissue_Massage.jpg"
       class="d-block w-100"
     
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Deep Tissue Massage</h5>
      <p>A more intense massage to help ease even the most fatigued of muscles.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Third slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
  </div>
  </div>
  
    <footer><app-footer></app-footer></footer>
    
    </body>
