<body>
   <nav> <app-navbar></app-navbar></nav>
    <br>
    <div class="main">
<h1  class="text-center  p-3">Services</h1>

<div class="center">
  <h5 class="text-center  p-3">Massage Therapy</h5>
<p >At RGV Massage Studio, we beleive every person has different needs. Massages are given by the amount of time reserved, and can include any one or more techniques. 
  Let us tailor your massage experience to you and your body.
</p>
<br>

<mdb-carousel  [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src="assets/image/massage_sweedish.png"
      
      class="d-block w-100"
     
      
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Swedish Massage</h5>
      <p>Enjoy a relaxing, easy paced massage, designed to leave you refreshed.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
    src="assets/image/Deeptissue_Massage.jpg"
       class="d-block w-100"
     
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Deep Tissue Massage</h5>
      <p>A more intense massage to help ease even the most fatigued of muscles.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="assets/image/medical_massage.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5 style="color: rgb(36, 36, 36)">Medical Massage</h5>
      <p style="color: rgb(24, 23, 23)">Massages prescribed by a health care professional to heal injury.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
  </div>
  </div>
  <div class="text-center  p-3">
  <form action="https://noterro.com/calendars/bookOnlineStepOne/42e2d621e0faf862c080afc7d06837f1">
    <input  
     type="submit" class="btn btn-light" value="BOOK NOW" />
</form>
</div>
    <footer><app-footer></app-footer></footer>
    
    </body>
