
    
    
     body{

      background-color: rgb(197, 197, 197);
     }
    
         
     .center {
      margin: auto;
      width: 50%;
      
      padding: 10px;
    }
    
    .content{
     
      background-color: rgb(197, 197, 197);
    overflow: auto;
     position: flex;
     overflow-y:auto
    }
    nav{
      position: flex;
      width: 100%;
      z-index:1;
    }
     
      
    footer{
      z-index:1;
      position: flex;
       padding-bottom: -20%;
        bottom: 0;
        width: 100%;
        box-shadow: 0 03px rgba(0,0,0,0.2);
        
        overflow-x: auto;
        }