
<body>
    
    <app-navbar></app-navbar>
    <br>
     <h1  class="text-center  p-3">Location</h1>
    <div class="center">
     <p>Lorem ipsum dolor sit amet, veniam habemus recusabo cum eu, et ridens graeci appetere ius. Vel cu corpora aliquando, vim quem unum molestie ut. At per tale repudiare, vel adhuc incorrupte ne. Noluisse consequuntur ea est.
    </p>
    <br>
    <p >2405 N 10th St #C, McAllen, TX 78501</p>

     <google-map height="350px"
     width="100%"
     >
     
     </google-map>
    </div>
    <footer><app-footer></app-footer></footer>
    
    </body>