
    

     body{

      background-color: rgb(197, 197, 197);
      font-size: small;
    flex-direction: column;
    display: flex;
     }
    
         
     .center {
      margin: auto;
      width: 50%;
      
      padding: 10px;
    }
    
    .content{
     
      background-color: rgb(197, 197, 197);
    overflow: auto;
     position: flex;
     overflow-y:auto
    }
    nav{
      position: flex;
      width: 100%;
      z-index:1;
    }
     
      
    footer{
      z-index:1;
      position: flex;
       padding-bottom: -20%;
        bottom: 0;
        width: 100%;
        box-shadow: 0 03px rgba(0,0,0,0.2);
        
        overflow-x: auto;
        }
        @media only screen and (min-width: 700px) {

          footer {
            position:fixed;
            bottom: 0;
            
          }
         
       body{
      font-size: large;
     }


     h1{
      font-size: 45x;
      
     }
     h5{
      font-size: large;
     }
     google-map{
      height: 350px;
      width: 100%;
        }
      }
       