
    
    
     body{

        background-color: rgb(197, 197, 197);
     }
    
         
       
     
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        box-shadow: 0 03px rgba(0,0,0,0.2);
        
        overflow-x: auto;
        }