

   body{

    background-color: rgb(197, 197, 197);
   
    font-size: small;
   
  
   }
    
   .center {
    margin: auto;
    width: 50%;
    margin-top: -10px;
    padding: 10px;
  }
  
  .content{
    
    margin: auto;
    width: 10%;
   
    padding: 10px;
    
  }
  
 .main{
  
padding-top: auto;

overflow: none;
background-color: rgb(197, 197, 197);

 }

  
   .faq{
    
    height: auto;
    width: 50%;
    margin-left: 25%;
    margin-top: -40px;
  
   
    z-index:-1;
  
    
   }
   nav{
     position: flex;
     width: 100%;
     z-index:1;
   }
    footer{
      z-index:1;
      position: flex;

        bottom: 0;
        width: 100%;
        box-shadow: 0 03px rgba(0,0,0,0.2);
        
        overflow-x: auto;
        }
        @media only screen and (min-width: 800px) {

          footer {
            position:fixed;
            bottom: 0;
            
          }
          body{
            font-size: large;
           }
      

        }