<body>
    <app-navbar></app-navbar>
    <br>
    <h1 class="content">FAQ</h1>
    <div class="center">
     <p>Lorem ipsum dolor sit amet, veniam habemus recusabo cum eu, et ridens graeci appetere ius. Vel cu corpora aliquando, vim quem unum molestie ut. At per tale repudiare, vel adhuc incorrupte ne. Noluisse consequuntur ea est.
    </p>
    </div>
    <br>
     <div class="faq">
    <mdb-accordion [flush]="false" [multiple]="false">
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Accordion Item #1</ng-template>
    <ng-template mdbAccordionItemBody>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
      aliqua put a bird 
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Accordion Item #2</ng-template>
    <ng-template mdbAccordionItemBody>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
      aliqua 
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Accordion Item #3</ng-template>
    <ng-template mdbAccordionItemBody>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
      aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      Nihil
    </ng-template>
  </mdb-accordion-item>
</mdb-accordion>
     </div>
    <footer><app-footer></app-footer></footer>
    
    </body>