

   body{

    background-color: rgb(197, 197, 197);
   }
    
   .center {
    margin: auto;
    width: 50%;
    
    padding: 10px;
  }
  
  .content{
    
    margin: auto;
    width: 10%;
    overflow: scroll;
    overflow: hidden;
    padding: 10px;
  }
  

  
   .faq{
    
    width: 50%;
    margin-left: 25%;
    
   }
 
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        box-shadow: 0 03px rgba(0,0,0,0.2);
        
        overflow-x: auto;
        }