<body>
    <nav><app-navbar></app-navbar></nav>
    <br>
    <div class="main" >
    <h1 class="text-center  p-3">FAQ</h1>
    <div class="text-center p-3">
     <p>Below you'll find answers to the questions we get asked the most about your massage experince.
    </p>
    </div>
    <br>
     <div class="faq">
    <mdb-accordion [flush]="false" [multiple]="false" >
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Is an appointment requried?</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black">Appointments are requried at RGV Massage Studio to better prepare and serve you. Each appointment will be tailored to your requested service. Appointments can be 
        created online or over the phone. You will receive a confirmation text, and a reminder upon booking a session. <br><br><em>If you cannot make your appointment, please call with 24 hours in advance if you wish to cancel, or you may be subject to cancelation fees.</em></p>
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>What do you need a client intake form?</ng-template>
    <ng-template mdbAccordionItemBody>
     <p style="color:black"> This information is used to give us your current health and any issues you might be experiencing that we need to consider. It also gives us an insight into what you want from your massage therapy. Different illnesses and conditions affect everybody in diverse ways. By knowing exactly what you are dealing with, feeling, and managing health-wise, we are able to proceed with your treatment condifently. 
      A client intake form should ask you all the right questions so that your therapist can come up with the perfect session or treatment plan for you.  <br> <br> <em>Please let us know any symptoms you might be experiencing and how they affect you. </em></p> 
      
    </ng-template>
  </mdb-accordion-item>
  
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Why do massage therapists tell me to drink waster after a massage?</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black">Massages are dehydrating, and our bodies are 60% water! The squeezing that the massage therapist does during your appointment releases fluids from your muscle tissues and into your vascular system.
       That means that you have to restock up on all of the water you lost during your massage. Drinking water also aids in post massage detoxification and soreness! Always make sure to rehadrate after a massage.</p>
      </ng-template>
      </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Can I exercise after a massage?</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black"> It's recommended that you wait 24 hours after a massage before exercising again. Your muscles will be softer and looser following the massage and you will be more likely to injure yourself, so it’s best to allow your body time to recover and settle from the massage. </p>
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Why do massage therapists rock the body during a massage?</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black"> Instead of trying to relax the body from the outside, as normal massage does, rocking techniques relax the body from the inside out, and it does it so much faster. In fact it’s estimated that 10 minutes of rocking technique is far more relaxing then an hour of massage.</p>
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>What is a sweedish massage?</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black"> Swedish massage is one of the most commonly offered massage techniques. It’s sometimes called a classic massage. The technique aims to promote relaxation by releasing muscle tension.</p>

      <br><br><em> Swedish massage is gentler than deep tissue massage and better suited for people interested in relaxation and tension relief.</em>
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>What is the difference between a deep tissue and a deep pressure massage?</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black">Deep Pressure is just that: any type of massage that is performed with more, or deeper, pressure. For example, you could get a Swedish massage (primarily used to relax) and ask that a heavier hand be used to take it from ‘light’ to ‘medium’ to ‘firm’ pressure. Deep pressure massage is also sustained throughout the entire massage session.</p>

  

      <p style="color:black">Deep Tissue massage, on the other hand, is normally only used on specific areas. A Deep Tissue massage is slow and through; working through the muscle tissues layer by layer. Giving increased attention to ‘knots’ and trigger points along the way, the therapist can release the deepest layers of muscle tissue and address the underlying problem that is causing pain.</p>
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>What is medical massage practioner?</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black">A medical massage therapist is a licensed massage therapist (LMT) who treats health conditions diagnosed by a doctor. More hospitals and medical centers are offering these types of treatments and more health insurance companies will cover the cost.</p>

      <p style="color:black">The work of a medical massage therapist differs from that of a general massage therapist. Medical massage therapists have advanced training and experience that allows them to provide care focused on healing injuries, improving function, or increasing circulation. They typically may receive orders from a physician as to the type of massage treatment they should give their patients, and can even be paid through the patient’s health insurance.</p>
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>COVID-19</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black">At RGV Massage Studio, we are taking additional measures to ensure every guest's safety during the COVID-19 pandemic. We disinfect, clean, and change our linens after each session to create a safer environment for your entire visit. Masks are not required during your session but are welcome. With our added measures, you can enjoy an experience of ultimate relaxation with no worry.</p>

      <br><br><em>If you are experiencing symptoms of COIVD-19, you should seek medical care immediately. Please call us to cancel or reschedule your appointment.</em>
    </ng-template>
  </mdb-accordion-item>
</mdb-accordion>
     </div>
     </div>
     <footer class="footer2"></footer>
    <footer><app-footer></app-footer></footer>
    
    </body>