<body>
    <app-navbar></app-navbar>
    <br>
    <h1 class="content">FAQ</h1>
    <div class="center">
     <p>Below you'll find answers to the questions we get asked the most about your massage experince.
    </p>
    </div>
    <br>
     <div class="faq">
    <mdb-accordion [flush]="false" [multiple]="false">
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Is an appointment requried?</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black">Appointments are requried at RGV Massage Studio to better prepare and serve you. Each appointment will be tailored to your requested service. Appointments can be 
        created online or over the phone. You will receive a confirmation text, and a reminder upon booking a session. <br><br><em>If you cannot make your appointment, please call with 24 hours in advance if you wish to cancel, or you may be subject to cancelation fees.</em></p>
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>What do you need a client intake form?</ng-template>
    <ng-template mdbAccordionItemBody>
     <p style="color:black"> This information is used to give us your current health and any issues you might be experiencing that we need to consider. It also gives us an insight into what you want from your massage therapy. Different illnesses and conditions affect everybody in diverse ways. By knowing exactly what you are dealing with, feeling, and managing health-wise, we are able to proceed with your treatment condifently. 
      A client intake form should ask you all the right questions so that your therapist can come up with the perfect session or treatment plan for you.  <br> <br> <em>Please let us know any symptoms you might be experiencing and how they affect you. </em></p> 
      
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Why do massage therapists tell me to drink waster after a massage?</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black">Massages are dehydrating, and our bodies are 60% water! The squeezing that the massage therapist does during your appointment releases fluids from your muscle tissues and into your vascular system.
       That means that you have to restock up on all of the water you lost during your massage. Drinking water also aids in post massage detoxification and soreness! Always make sure to rehadrate after a massage.</p>
      </ng-template>
      </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Can I exercise after a massage?</ng-template>
    <ng-template mdbAccordionItemBody>
      <p style="color:black"> It's recommended that you wait 24 hours after a massage before exercising again. Your muscles will be softer and looser following the massage and you will be more likely to injure yourself, so it’s best to allow your body time to recover and settle from the massage. </p>
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>Why do massage therapists rock the body during a massage?</ng-template>
    <ng-template mdbAccordionItemBody>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
      aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      Nihil
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>What is a sweedish massage?</ng-template>
    <ng-template mdbAccordionItemBody>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
      aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      Nihil
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>What is the difference between a deep tissue and a deep pressure massage?</ng-template>
    <ng-template mdbAccordionItemBody>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
      aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      Nihil
    </ng-template>
  </mdb-accordion-item>
  <mdb-accordion-item>
    <ng-template mdbAccordionItemHeader>What is medical massage practioner?</ng-template>
    <ng-template mdbAccordionItemBody>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
      aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      Nihil
    </ng-template>
  </mdb-accordion-item>

</mdb-accordion>
     </div>
    <footer><app-footer></app-footer></footer>
    
    </body>