.example-spacer {
    flex: 1 1 auto;
  }
  

  body {
    /* Background pattern from Toptal Subtle Patterns */
    margin: 0 0 55px 0;
    height: 90%;
    overflow: auto;
    display: flex;
    width: flex;
    position: flex;
    background-image: url("./../rgvmassagebackground.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: rgb(24, 24, 24);
 }
 nav{
  overflow-x: auto;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  flex-direction: column;
position: flex
;
width: flex;

width: 100%;
height: auto;
padding-bottom: 1.5%;
  top: 90%;
box-shadow: 0 03px rgba(0,0,0,0.2);

overflow-x: auto;
}

footer{
 height: auto;
position: fixed;
bottom: 0;
width: 100%;
box-shadow: 0 03px rgba(0,0,0,0.2);

overflow-x: auto;
}
a {

  text-decoration: none;
  color: initial;
}